<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><P>Image</P></th>
            <th><P>Name</P></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="new-table">
              <td>
                <span><%= attachment_image_tag user, :profile_image, :fill, 85, 85, format: 'jpeg', fallback: "no_image.jpg" %></span>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= link_to "Show", user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>