<div class="container">
  <h2>About</h2>

  <h1>welcome to <strong>Fire engines</strong>  !!</h1><br>

  <p><注意事項及び禁止事項></p><br>
  <p>〜注意事項〜</p><br>
  <p>当アプリに投稿できる写真は、以下の写真とする。なお、撮影時には必ず消防職員の許可を得る事。</p>
  <p>・イベント等で展示されている車両の写真。</p><br>

  <p>〜禁止事項〜</p><br>
  <p>・イベント等で展示されている車両の写真以外の写真を撮影し投稿しない事。</p><br>
  <p>・撮影時には、消防職員の業務及び車両の妨害行為となるような行為はしない事。</p><br>
  <p>・火災、救急、救助、その他の災害出動で、緊急走行中の車両を撮影し投稿しない事。</p><br>
  <p>・災害活動中（消火、救急、救助、その他の災害活動等）の車両を撮影し投稿しない事。</p><br>
  <p>・写真に消防職員や第3者が写っていたり、プライバシーの侵害となるような写真を撮影し投稿しない事。</p><br>
  <p>・迷惑撮影行為をしない事。</p><br>


</div>