<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <h1>welcome to <strong>Fire engine</strong>  !!</h1><br>

    <p><strong>Fire engine</strong>は、</p><br>

    <p>消防車が好きな方のためサイトです。</p><br>

    <p>消防車の写真を、消防車名、説明文付きで投稿できます。</p><br>

    <p>また、他のユーザーの投稿で様々な消防車を見る事ができ、投稿にコメントをする事ができます。</p><br>


	  <%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>

      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>

</div>